$btn-color: hsl(25, 97%, 53%);
$font-color: hsl(0, 0%, 100%);
$card-bg-color: hsl(213, 19%, 18%);
$background-color: hsl(216, 12%, 8%);
$bg-light-color: hsla(225, 2%, 33%, 0.2);
$font-light-color: hsl(216, 12%, 54%);
$btn-light-color: hsl(217, 12%, 63%);
