@use './reset';
@use './colors' as colors;
body {
	font-family: 'Overpass', sans-serif;
	color: #fff;
	background-color: colors.$background-color;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	background-color: colors.$card-bg-color;
	border-radius: 15px;
	padding: 10px;
	width: 90%;
	max-width: 500px;
	height: 500px;
}
