@use './reset';
@use './colors' as colors;
body {
	font-family: 'Overpass', sans-serif;
	font-size: 15px;
	color: colors.$white;
	background-color: colors.$veryDarkBlue;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.star {
	padding: 1rem;
	border-radius: 50%;
	background-color: colors.$bg-light-color;
}

.card {
	display: block;
	background-color: colors.$darkBlue;
	border-radius: 15px;
	padding: 1.5rem;
	width: 90%;
	max-width: 380px;
	max-height: 400px;
}

.text-title {
	margin: 2rem 0 1rem;
}

.text-info {
	margin-bottom: 1rem;
	color: colors.$mediumGrey;
	line-height: 1.7;
}

.rating {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;

	li {
		list-style: none;
		transition: background-color 0.3s;
	}

	.rating-btn {
		width: 50px;
		height: 50px;
		color: colors.$mediumGrey;
		border: none;
		border-radius: 50%;
		background-color: colors.$bg-light-color;

		&:hover {
			background-color: colors.$orange;
			cursor: pointer;
		}

		&:focus {
			background-color: colors.$lightGrey;
		}
	}
}

.submit-btn {
	width: 100%;
	margin: 1rem 0;
	padding: 1rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: colors.$white;
	background-color: colors.$orange;
	border: none;
	border-radius: 50px;
	transition: background-color 0.3s, color 0.3s;

	&:hover {
		cursor: pointer;
		background-color: colors.$white;
		color: colors.$orange;
	}
}

// thank you card

.back {
	width: 1rem;
	height: 1rem;
	cursor: pointer;
}

.picture {
	width: 50%;
	margin: 20px 0;
}

.thank-you {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: none;
}

.selected {
	padding: 1rem 1.5rem;
	color: colors.$orange;
	background-color: colors.$bg-light-color;
	border-radius: 50px;
}
